@tailwind base;
@tailwind components;
@tailwind utilities;

.collapsible .material-icons {
    display: inline-block;
    transition: transform .3s ease;
}

.collapsible li.active > .collapsible-header .material-icons {
    transform: rotate(180deg);
}

nav {
    color: inherit;
    background-color: inherit;
}

nav a {
    color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-field {
    position: relative;
}

.input-field .helper-text {
    position: absolute;
    left: 0.75rem;
}

.input-field .helper-text::after {
    white-space: nowrap;
}


